
.bg--grey  
  padding: 2rem
  background-color: #F6F6F6

.bg--white
  padding: 2rem
  background-color: #FFF

.neg--left
  margin-left: -7.5rem
  @media (max-width: 992px)  
    margin: 0
  
.onTop
  z-index: 999

.fondo1
  background: url('../assets/curso/tema1/fondo1.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media (max-width: 992px)
    margin-inline: -1.4rem
.fondo2
  background: url('../assets/curso/tema2/fondo1.svg')
  background-position: top
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem

.fondo3
  background: url('../assets/curso/tema3/fondo3.png')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media (max-width: 992px)
    background-size: cover
    margin-inline: -1.4rem

.fondo-slider
  background: url('../assets/curso/tema1/fondo-slider.svg')
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  @media (max-width: 992px)
    background-size: cover

.fondo-negativo
  margin-inline: -3.4rem
  background-color: #f6f6f6
  @media (max-width: 992px)
    margin-inline: -1.4rem

    
.contenedor-total
  position: relative
  width: 100%
  padding-bottom: 6rem

.contenedor-text
  position: absolute
  bottom: 0%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  width: 88%
  height: 100px
  background-color: #1565C0
  color: #fff
  //filter: drop-shadow(2px 4px 6px grey)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
    
//CARD TOP LINE
.crd
  padding: 1rem

.crd--topLine   
  min-height: 290px !important
  max-width: 219px 
  background-color: white  
  //border-top-right-radius: 12px
  //border-top-left-radius: 12px  
  //-webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.35)
  //box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.35)
  border-top: 7px solid #FFCA28
  @media (max-width: 992px)
    max-width: 320px
.crd--topLine_green
  border-top: 7px solid #4DD0E1
//end CARD TOP LINE

.cajon.color-acento-botones 
  background-color: #FFECB1

.tarjeta--azulRey
  background-color: #1565C0
  border-radius: 30px
  position: relative

.floatRight
  display: flex
  justify-content: end
  align-items: center
  //float: right

.tarjeta.color-primario--borde 
  border: solid 4px #e8e8e8
  border-radius: 0

.tabs-a__tab 
  background-color: #e8e8e8

.tabs-a__tab__text 
  font-size: 19px


.tabla-b.color-secundario .tabla-b__header
  background-color: #12263F


.tarjeta--sencilla
  border-radius: 50px
  position: relative
  width: 220px
  background-color: #ffff
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1)
  //padding: 2rem


.tabs-c.color-acento-contenido .tabs-c__tab--active 
  font-weight: bold

.tabs-c
  border-bottom: 0


.tabs-c__content-item
  border: 2px solid #e8e8e8
  padding-top: 15px

.tabs-c__header 
  margin-bottom: 0

.verticalText 
  writing-mode: vertical-lr
  transform: rotate(180deg)
  
.tabla-a.color-secundario thead 
  border: 0


.tr-bgcolor
  background-color: #f6f6f6

.tr-bgcolor:nth-child(2n+1)
  background-color: #e8e8e8

.tr-bgcolor td
  border: 1px solid #AFAFAF

.tr-bgcolor2
  background-color: #f6f6f6

.tr-bgcolor2:nth-child(2n+1)
  background-color: #fff

.tr-bgcolor2 td
  border: 1px solid #AFAFAF

.fondo-color
  background-color: #f6f6f6
  margin-inline: -3.4rem
  @media (max-width: 992px)
    margin-inline: -1.4rem

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  font-size: 22px

.linea-tiempo-d__item--selected .tarjeta--gris
  background-color: #C9F1F6

.linea-tiempo-d__item__dots:after
  border-left: 5px dotted #e8e8e8

.bg-lineBottom
  box-shadow: 0px 0px 8px 0px #DEDEDE
  background-image: url(../assets/curso/tema3/line-bottom.svg)
  background-size: auto
  background-repeat: no-repeat
  background-position: bottom